body {
    background-color: #333333;
    text-align: center;
    font-size: 0;
    margin: 0;
}

#picture {
    border: 2px white solid;
    height: 70vh;
    display: inline-block;
    margin-top: 15vh;
}

#text {
    display: inline-block;
    position: relative;
}

#text:hover::after {
    content: attr(data-title);
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    color: white;
    font-size: 25px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-family: "Segoe UI Light", serif;
}

